<% @user.password = @user.password_confirmation = nil %>
<%= title "Sign Up for TechReach", :h2 %>
<% form_for @user do |f| %>
	<%= f.error_messages %>
	
	<div id="choose_role">
		<h1>I'm a&#8230;</h1>
		
		<ul>
			<li>
				<%= radio_button_tag('role', 'teacher', true) %>
				<%= label_tag('role_teacher', 'Teacher') %>
			</li>
			<li>
				<%= radio_button_tag('role', 'speaker', false, :disabled => true) %>
				<%= label_tag('role_speaker', 'Speaker') %>
			</li>
		</ul>
		
		<div id="role_details" class="clearfix">
			<div id="role_icon">
				<%= image_tag('icons/blackboard_32.png') %>
			</div>
			<div id="role_description" class="clearfix">
				<p>
					As a <strong class="hl">TechReach Teacher</strong>, you'll be able to find 
					technology professionals to speak in your classroom.
				</p>
			</div>
		</div>
		
	</div>
	
	<div class="form_item">
		<%= f.label :email, 'Your Email Address' %>
		<%= f.text_field :email, :class => 'text' %>
		<small>You'll use this to log in to the site. We solemnly swear not to spam you.</small>
	</div>
	
	<div class="form_item">
		<%= f.label :password, 'Choose Password' %>
		<%= f.password_field :password, :class => 'text' %>
	</div>
	
	<div class="form_item">
		<%= f.label :password_confirmation, 'Confirm Your Password' %>
		<%= f.password_field :password_confirmation, :class => 'text' %>
	</div>
	
	
	<% if false %>
	<!-- Are we going to use OpenID?? -->
	<fieldset>
		<legend>Signup with OpenID</legend>
		<ol>
			<li>
				<label for="openid_url">OpenID URL</label>
				<%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %>
			</li>
		</ol>
	</fieldset>
	<% end %>
	
	
	<div class="form_buttons">
		<%= submit_tag 'Sign Up' %>
	</div>
<% end %>
