<% @user.password = @user.password_confirmation = nil %>
<%= title "Sign Up for TechReach", :h2 %>
<% form_for @user do |f| %>
	<%= f.error_messages %>
	
	<div id="select_user_type" style="text-align:center">
		<h1>I am a:</h1>
		
		<p>
			A TechReach Teacher...
		</p>
	</div>
	
	<fieldset>
		<legend>Your Details</legend>
		<ol>
			<li>
				<%= f.label :email %>
				<%= f.text_field :email %>
			</li>
			<li>
				<%= f.label :password %>
				<%= f.password_field :password %>
			</li>
			<li>
				<%= f.label :password_confirmation, 'Confirm Password' %>
				<%= f.password_field :password_confirmation %>
			</li>
		</ol>
	</fieldset>
	
	
	<% if false %>
	<!-- Are we going to use OpenID?? -->
	<fieldset>
		<legend>Signup with OpenID</legend>
		<ol>
			<li>
				<label for="openid_url">OpenID URL</label>
				<%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %>
			</li>
		</ol>
	</fieldset>
	<% end %>
	
	
	<div class="buttons">
		<%= submit_tag 'Sign Up' %>
	</div>
<% end %>
