<% @user.password = @user.password_confirmation = nil %>
<%= title "Sign Up for TechReach", :h2 %>
<% form_for @user do |f| %>
	<%= f.error_messages %>
	
	<div id="choose_role">
		<h1>I'm a&#8230;</h1>
		
		<ul>
			<li>
				<%= radio_button_tag('role', Role.find_by_name('teacher').id, true, :id => 'role_teacher',
						:onclick => update_page { |page| 
							page.toggle('teacher_details', 'professional_details')
						}) %>
				<%= label_tag('role_teacher', 'Teacher') %>
			</li>
			<li>
				<%= radio_button_tag('role', Role.find_by_name('professional').id, false, :id => 'role_speaker',
						:onclick => update_page { |page| 
							page.toggle('teacher_details', 'professional_details')
						}) %>
				<%= label_tag('role_speaker', 'Professional') %>
			</li>
		</ul>
		
		<div id="teacher_details" class="role_details clearfix">
			<div class="role_icon">
				<%= image_tag('icons/blackboard_32.png') %>
			</div>
			<div class="role_description" class="clearfix">
				<p>
					As a <strong class="hl">TechReach Teacher</strong>, you'll be able to find 
					technology professionals to speak in your classroom.
				</p>
			</div>
		</div>
		
		<div id="professional_details" class="role_details clearfix" style="display:none">
			<div class="role_icon">
				<%= image_tag('icons/blackboard_32.png') %>
			</div>
			<div class="role_description" class="clearfix">
				<p>
					As a <strong class="hl">TechReach Technology Professional</strong>, you'll be able to 
					speak classrooms.
				</p>
			</div>
		</div>
		
	</div>
	
	<div class="form_item">
		<%= f.label :email, 'Your Email Address' %>
		<%= f.text_field :email %>
		<small>You'll use this to log in to the site. We solemnly swear not to spam you.</small>
	</div>
	
	<div class="form_item">
		<%= f.label :password, 'Choose Password' %>
		<%= f.password_field :password %>
	</div>
	
	<div class="form_item">
		<%= f.label :password_confirmation, 'Confirm Your Password' %>
		<%= f.password_field :password_confirmation %>
	</div>
	
	
	<% if false %>
	<!-- Are we going to use OpenID?? -->
	<fieldset>
		<legend>Signup with OpenID</legend>
		<ol>
			<li>
				<label for="openid_url">OpenID URL</label>
				<%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %>
			</li>
		</ol>
	</fieldset>
	<% end %>
	
	
	<div class="form_buttons">
		<%= submit_tag 'Sign Up' %>
	</div>
<% end %>
