<h2>Check Your Email to Complete Registration</h2>
<p>
	We sent an email to <strong class="hl"><%= @user.email %></strong> to activate your account. It should 
	arrive within 30 minutes, so be sure check your inbox and click the link in the message.
</p>

<%= title 'Update Your Profile', :h3 %>
<% form_for @user, :url => {:action => 'update_new_user'} do |f| %>
	<%= f.error_messages %>
	
	<%= render :partial => 'shared_form_fields', :locals => {:f => f} %>
	
	<div class="form_buttons">
		<%= submit_tag 'Save Profile' %>
	</div>
<% end %>
